 {% extends 'base.html' %} 
{% load static %}
{% block title %}
    Main
{%endblock%}

{% block content %}

<link rel="stylesheet" href="{% static 'listar.css' %}">

    <table style="margin: auto; margin-top: 50px;">
        <thead>
            <th>Propiedad</th>
            <th>Propiedad</th>
            <th>Propiedad</th>
            <th>Propiedad</th>
            <th>accion</th>
            <th>accion</th>
        </thead>
        <tbody>
           {% for x in libros %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.titulo}}</td>
                <td>{{x.descripcion}}</td>
                <td>{{x.precio}}</td>
                <td><a href="/editar/{{ x.id }}/">editar</a></td>
                <td><a href="/eliminar/{{x.id}}/">eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{%endblock%}