 {% extends 'base.html' %} 
{% load static %}
{% block title %}
    Main
{%endblock%}

{% block content %}

   <link rel="stylesheet" href="{% static 'editar.css' %}">

<form  method="POST">
    {% csrf_token %}
  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo" required value="{{libro.titulo}}"><br><br>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" name="descripcion" rows="4" cols="40" required  >{{libro.descripcion}}</textarea><br><br>

  <label for="precio">Precio:</label>
  <input type="number" id="precio" name="precio" step="0.01" required value="{{libro.precio}}" ><br><br>

  <button type="submit">Enviar</button>
  <a href="/listar"> <button type="button" class="Cancelar">Cancelar</button> </a>
</form>

{%endblock%}