
    {% load static %}
    
<link rel="stylesheet" href="{% static 'navbar.css' %}">
    <nav class="navbar" >
        <div class="logo">LOGO</div>
        
        <div class="menu-toggle">☰</div>
        
        <ul class="nav-links">
            <li><a href="#">Elemento</a></li>
            <li><a href="#">Elemento</a></li>
            <li><a href="#">Elemento</a></li>
            <li><a href="#">Elemento</a></li>
        </ul>
        
        <a class="login-btn" href="/pepe/logout">Cerrar Sesión</a>
    </nav>

    <script>
        // Solo para mostrar/ocultar el menú en móvil (parte de la maqueta)
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
        });
    </script>

